
:root {
  --blanco: #ffffff;
  --negro: #000000;
  --primario: #383838;
  --secundario: #005761;
  --gris: #757575;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Krub', sans-serif;
  margin: 0;
  background-color: #ffffff;
  /*background-color: #771616;*/
}
/*header*/
    header{
        display: flex;
        align-items: right;
        justify-content: space-between;
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 2rem;
    }
    
    .logo{
        max-width:10rem;
        display: flex;
        align-self:self-start;
    }

    

    .nav-list {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }

    
    input{
      border-radius: 62px;
      background: #F0F0F0;
      padding: 1rem 2rem;
      border-style: none;
      color: rgba(0, 0, 0, 1);
      font-family: "Lexend";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .input-wrapper {
      position: relative;
      width: 271px;
    }
    
    .input {
      box-sizing: border-box;
      color: #191919;
      padding: 12px 12px 12px 45px;
      width: 100%;
      
    }

    .input-icon {
      color: #191919;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 12px;
      top: 35%;
      transform: translateY(-60%);
    }

    .opciones{
      width: 25px;
      height: 25px;
      padding: 0 1rem;
      
      
    }
    .nav-list li a {
      display: flex;
        font-family: "Lexend", serif;
        text-decoration: none;
        color: #000000;
        font-family: "Lexend", serif;
        font-optical-sizing: auto;
        font-style: normal;
        border-radius: 2rem;
        padding: 1rem 1rem;
        align-items: right;
    }
    
    .abrir-menu, .cerrar-menu{
        align-items: right;
        display: none;
    }
    .nav-list a:hover:not(.ignore) {
      background-color: var(--primario);
      color: #f0f0f0;
    }
    @media screen and (max-width: 550px){
        .abrir-menu, .cerrar-menu{
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            cursor: pointer;
        }

        .abrir-menu {
            color: #1c1c1c;
        }
    
        .cerrar-menu {
            color: #ffffff;
        }

        .nav{
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1rem;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #181818;
            padding: 2rem;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3 );
        }

        .nav.visible{
            opacity: 1;
            visibility: visible;
        }

        .nav-list{
            flex-direction: column;
            align-items: end;
        }

        .nav-list li{
          color: rgb(0, 0, 0);
        }
        
    }
    /*

.titulo {
  font-family: Bungee;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.8rem;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-bg {
  background-color: var(--blanco);
  border-start-end-radius: 0;
  border-start-start-radius: 0;
}

.navegacion-principal ul {
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}

.navegacion-principal a {
  padding: 0.5rem 1rem;
  color: var(--negro);
  border-radius: 10px;
  transition: background-color 0.5s ease;
  text-decoration: none;
}
.navegacion-principal input{
  height: auto;
  width: auto;
  
}
.navegacion-principal input:hover {
  
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: #f0f0f0;
}*/

.contenedor-comprar {
  display: flex;
  gap: 5%;
  position:unset;
  padding: 36px 36px;
  background-color: #f0f0f0;
  height: 800px;
}
.contenedor-texto-comprar h1,img{
  flex: 1;
  display: flex;
  font-family: 'bungee', sans-serif;
  font-size:8.7rem;
  align-items: center;
  justify-content: center;    
  padding: 10px;
  padding-bottom: 0;

}
.contenedor-texto-comprar P{
font-family: 'Krub', sans-serif;
text-align: left;
font-size: 20px;
padding-left: 20px;
padding-top: 0;

}
.estadisticas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 75px ;
  padding: 20px;
  position: absolute;
  top: 70%;
  left: 50px;
  font-size: 24px;
  width: 50%;
}
.contenedor-imagen {
  width: 100%;
}
.contenedor-imagen img{
  width: 100%;
  justify-content: right;
  height: 100%;
  object-fit: cover;
}
.boton-comprar-ahora{
  margin-bottom: 75px ;
  padding: 20px;
  position:initial;
  top: 60%;
  left: 35px;
  font-size: 24px;
  width: 25%;
}
.boton-comprar-ahora a{
    display: block;  
    padding: 20px;   
    border-radius: 100px;
    text-align: center;
    color: #f0f0f0;
    background-color: black;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}
.boton-comprar-ahora a:hover{
  background-color: var(--gris);
  color: #000000;
}
/*contenedor comprar*/

/*INICIA PRODUCTOS*/
.contenedor-categorias h2{
  text-align: center;
  padding: 20px;
  background-color: white;
}
.categoria{
  position: static;
  height: auto;
  border-radius: 20px;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
}
.categorias{
  padding: 7%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width:  auto;
  max-width: auto;
  height: auto;
  max-height: 600px;
  gap: 20px;
  background-color: #f5f5f5;
  
}
.categoriass{
  margin-left: 10%;
  margin-right: 10%;
  padding: 7%;
  padding-top: 0%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width:  auto;
  max-width: auto;
  height: auto;
  max-height: 600px;
  gap: 20px;
  background-color: #f5f5f5;
  
}

.contenedor-categorias a{
  /*position: relative;*/
  height: auto;
  border-radius: 20px;
  justify-content: space-between;
  background-color: white;
  border: #000000 1px solid;
  box-sizing: border-box;
}
.categoria img{
  width: 50%;
  height: 200px;
  max-height: auto;
  justify-self: right;
  box-sizing: border-box;
  border: #000000 1px solid;
}

.contenedor-categorias p{
  /*position: absolute;*/
  top: 0;
  left: 10px;
  font-size: 2vw;
  font-family: 'krub', sans-serif;
  overflow: hidden; /* Oculta el texto que sobrepase el espacio disponible */
    text-overflow: ellipsis; 
}



/*Suscribe Box*/
.contenedor-suscribete {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto;
  padding: 36px 64px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: var(--negro);
  color: var(--blanco);
}
.contenedor-suscribete aside{
  width: auto;
}
.titulo-suscribete p {
  width: 90%;
  max-width: 60%;
  font-family: "Bungee", serif;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 1.5;
  margin: 0;
}

.input-mail {
  width: 100%;
  max-width: 350px;
  margin: 10px 0;
}

.input-mail input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 62px;
  border: none;
  outline: none;
  background: var(--blanco);
  color: var(--negro);
  font-size: 1.6rem;
}

.boton-suscribete {
  margin-top: 10px;
}

.boton-suscribete a {
  width: 100%;
  display: inline-block;
  padding: 12px 16px;
  text-align: center;
  border-radius: 62px;
  text-decoration: none;
  color: var(--negro);
  
  background: var(--blanco);
  font-size: 1.6rem;
  transition: background-color 0.3s ease;
}

.boton-suscribete a:hover {
  background-color: var(--primario);
  color: var(--blanco);
}
/*end suscribe box*/
/*FOOTER*/
footer {
  background-color: #f0f0f0;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
}

.logo-footer{
  max-width: 100px;
  margin: 0 5px;
  display: inline-flex;
  align-self: self-start;
}

.social-icons {
  margin-top: 10px;
}

.social-icons img{
  height: 20px;
  margin: 0 5px;
}
.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  border: #000000;
  padding: 0.5rem 1rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: left;
}

.footer-links div h3 {
  font-size: 16px;
  font-weight: bold;
}

.footer-links ul {
  display: inline;
  list-style: none;
  padding: 0.5rem 1rem;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #777;
  font-size: 14px;
}

.payment-methods img {
  display: inline-block;
  height: 25px;
  margin: 0 5px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
  text-align: center;
}

/*FIN FOOTER*/
