/*Suscribe Box*/
.contenedor-suscribete {
  
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto;
  padding: 36px 64px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: var(--negro);
  color: var(--blanco);
}
.contenedor-suscribete aside{
  width: auto;
  
}
.titulo-suscribete p {
  width: 90%;
  max-width: 60%;
  font-family: "Bungee", serif;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 1.5;
  margin: 0;
}

.input-mail {
  width: 100%;
  max-width: 350px;
  margin: 10px 0;
}

.input-mail input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 62px;
  border: none;
  outline: none;
  background: var(--blanco);
  color: var(--negro);
  font-size: 1.6rem;
}

.boton-suscribete {
  margin-top: 10px;
}

.boton-suscribete a {
  width: 100%;
  display: inline-block;
  padding: 12px 16px;
  text-align: center;
  border-radius: 62px;
  text-decoration: none;
  color: var(--negro);
  
  background: var(--blanco);
  font-size: 1.6rem;
  transition: background-color 0.3s ease;
}

.boton-suscribete a:hover {
  background-color: var(--primario);
  color: var(--blanco);
}
/*end suscribe box*/